registry=https://artifactory.dummy.io/artifactory/api/npm/group-npm/
always-auth=true
//artifactory.wolterskluwer.io/artifactory/api/npm/group-npm/:_authToken=dummycmVmdGtuOjAxOjE4MDgyNTg5MTU6R3NuSUp5bGZ3RWJldlZMMmx2YmdjTlZhVEtodummy
