registry=https://artifactory.wolterskluwer.io/artifactory/api/npm/group-npm/
always-auth=true
//artifactory.wolterskluwer.io/artifactory/api/npm/group-npm/:_authToken=cmVmdGtuOjAxOjE4MDgyNTg5MTU6R3NuSUp5bGZ3RWJldlZMMmx2YmdjTlZhVEto