registry=https://artifactory.dummy.io/artifactory/api/npm/group-npm/
always-auth=true
//artifactory.dummy.io/artifactory/api/npm/group-npm/:_authToken=dummycmVmdGtuOjAxOjE4MDgyNTg5MTU6R3NuSONYANILSUp5bGZ3RWJldlZMMmx2YmdjTlZhVEtodummy
